.card {
    height: 200px;
    width: 200px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: gray;
}

.face {
    display: block;
    position: absolute;
    backface-visibility: hidden;

}

.front {
    transform: rotateY(180deg);
}