.card {
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    display: flex;

}

.face {
    display: block;
    position: absolute;
    backface-visibility: hidden;

}

.front {
    transform: rotateY(180deg);
}